<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.group6.shopping.batis.RepliesDAO">

	<update id="updateReply">
	 UPDATE replies SET reply_content = #{reply_content} WHERE reply_id = #{reply_id}
	</update>
	<!--  댓글삭제 -->
	<delete id="deleteReply">
	 delete from replies WHERE reply_id = #{reply_id}
	</delete>
	<insert id="insertReply">
	 insert into replies values (null,#{mem_id},#{board_id},#{reply_content},SYSDATE())
	</insert>

</mapper>