@charset "UTF-8";

html,
body {
  width: 100%;
  height: 100%;
  margin: 0px;
}

.container {
  width: 100%;
  height: 100%;
}


h1.sub_title{
	
	text-align: center;
	margin-bottom: 0px;
}

div.sub_menu{
	
	width: 100%;
	height: 200px;
}

div.menu_header{
	
	width: 100%;
	background-color: #e5e5e5;
}

div.menu_header ul {
	
	width: 100%;
	height: 100%;
    list-style:none;
    margin-bottom: 0px;
    display: flex;
    justify-content: center;
    text-align: center;
	
	padding:0px;
	
	border-top: 1px solid black;
    border-bottom: 1px solid black;
}

div.menu_header li {
	
    float: left;
    width: 15%;
    height: 100%;
    font-size: 17px;
    line-height: 40px;
}

div.menu_header li a {
	
	vertical-align: middle;
}

div.menu_list {
	
	width: 100%;
	height: 150px;
	border-bottom: 1px solid black;
}

div.inner {
	
	width: 100%;
	height: 150px;
	display: flex;
    justify-content: center;
}

div.inner ul {

    text-align: center;
	width: 15%;
	list-style: none;
	padding-top: 20px;
	padding-left: 0px;
	margin: 0px;
}

div.inner ul:not(:first-of-type) {
	border-left: 1px dashed #b5b5b5;
}

div.inner li {
	
	text-align: center;
	line-height: 30px;
	vertical-align: top;
	padding-bottom: 10px;
	font-size: 13px;
	
}
.coupon_card {
	border : 1px solid #171717;
	width : 30%;
	margin : auto;
}
.coupon_box{
	width : 50%;
	margin : auto;
}
.coupon_box_title{
	width: 100%;
	height: 100px;
	/*border-top : 2px solid #171717;
	border-left: 2px solid #171717;
	border-right: 2px solid #171717;*/
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 22px;
}
.couponNum {
	width: 100%;
	height: 50px;
	vertical-align: bottom;
	display: flex;
	align-items: center;
	justify-content: right;
}
.coupon_card_box {
	width :100%;
	border-top : 2px solid #171717;
}
.coupon_table {
	width :100%;
	border-bottom : 1px solid #171717;
	border-collapse: collapse;
}
.coupon_table td {
	border-bottom : 1px solid #171717;
	text-align: center;
	vertical-align: middle;
	height: 30px;

}
.coupon_table th {
	border-bottom : 1px solid #171717;
	height : 40px;
}