@charset "UTF-8";

html,
body {
  width: 100%;
  height: 100%;
  margin: 0px;
}

.container {
  width: 100%;
  height: 100%;
}


h1.sub_title{

	text-align: center;
	margin-bottom: auto;
}

div.sub_menu{

	width: 100%;
	height: 200px;
}

div.menu_header{

	width: 100%;
	background-color: #e5e5e5;
}

div.menu_header ul {

	width: 100%;
	height: 100%;
    list-style:none;
    margin-bottom: 0px;
    display: flex;
    justify-content: center;
    text-align: center;

	padding:0px;

	border-top: 1px solid black;
    border-bottom: 1px solid black;
}

div.menu_header li {

    float: left;
    width: 15%;
    height: 100%;
    font-size: 17px;
    line-height: 40px;
}

div.menu_header li a {

	vertical-align: middle;
}

div.menu_list {

	width: 100%;
	height: 150px;
	border-bottom: 1px solid black;
}

div.inner {

	width: 100%;
	height: 150px;
	display: flex;
    justify-content: center;
}

div.inner ul {

    text-align: center;
	width: 15%;
	list-style: none;
	padding-top: 20px;
	padding-left: 0px;
	margin: 0px;
}

div.inner ul:not(:first-of-type) {
	border-left: 1px dashed #b5b5b5;
}

div.inner li {

	text-align: center;
	line-height: 30px;
	vertical-align: top;
	padding-bottom: 10px;
	font-size: 13px;

}
div.cupon_info  {

	width: 75%;
	height: 200px;
	margin-left:auto;
	margin-right:auto;
	justify-content: center;
	display: flex;
	align-items: center;
	margin-top: 100px;
	text-align: center;
	background-color: #e5e5e5;
}

div.cupon_info div.user_name {
	width: 60%;
	height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

div.cupon_info div.user_cupon {
	width: 20%;
	height: 50%;
	border-left: 1px dashed #b5b5b5;
}

div.cupon_info div.user_point {
	width: 20%;
	height: 50%;
	border-left: 1px dashed #b5b5b5;
}

.table_title {
	width: 1240px;
	margin-top: 100px;
	height:auto;
	margin-left: auto;
	margin-right: auto;
}
.table_title2 {
	width: 1240px;
	margin-top: 100px;
	height:auto;
	border-bottom: 2px solid black;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10px;
}
table.order_list {
	margin-left: auto;
	margin-right: auto;

	border-collapse: collapse;
	border-top: 2px solid #171717;
    border-bottom: 1px solid #171717;
}

table.order_list th {

	height: 68px;
	border-bottom: 1px solid #b5b5b5;
}

table.order_list tr td {

	text-align: center;
	vertical-align: middle;
}

.like_title {
	width: 1240px;
	margin-top: 50px;
	height: 36px;
	margin-left: auto;
	margin-right: auto;
}
.like_list{
	width: 70%;
	margin : auto;
}
ul li a:link { color: black; text-decoration: none;}
ul li a:visited { color: black; text-decoration: none;}
ul li a:hover { color: black; text-decoration: none;}
.span-hover:hover {
	cursor: pointer;
}